.main-follows-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 260px;
    position: relative;

}

.follows-container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.follows-container-title {
    font-weight: bold;
    height: 24px;
    display: flex;
    align-items: center;
}

.close-modal-x {
    position: absolute;
    top: 10px;
    right: 10px;
}

.x {
    /* background-color: white; */
    border: none;
    font-size: 18px;
}

.follow-cards-container {
    width: 100%;
    height: 100%;
}

.follow-card-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.follow-card {
    display: flex;
    align-items: center;
    /* padding: 10px; */
    height: 60px;
}

.open-followers-modal:hover {
    cursor: pointer;
}
