.main-follows-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 260px;
    position: relative;
    overflow-y: auto;
}

.follows-container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.follows-container-title {
    font-weight: bold;
    height: 24px;
    display: flex;
    align-items: center;
}

.follow-card-pic {
    padding: 8px 16px;
}

.follow-card-avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.close-modal-x {
    position: absolute;
    top: 8px;
    right: 8px;
}

.x {
    background-color: white;
    border: none;
    /* font-size: 18px; */
}

.follow-cards-container {
    width: 100%;
    height: 100%;
}

.follow-card-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.follow-card-username {
    font-weight: bold;
    font-size: 14px;
}

.follow-card-real-name {
    font-size: 14px;
    color: #8E8E8E;
}

.follow-card {
    display: flex;
    align-items: center;
    /* padding: 10px; */
    height: 60px;
}

.open-followers-modal:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}
