.nav-bar-container{
    display:flex;
    flex-direction: row;
    height: 60px;
}

.nav-button-right {
    display:flex;
}

.home-logo {
    width:200px;
    height:53px;
    margin-left: 30rem;
}

.house-logo {
    height:29px;
    width: 26px;
    margin-left:37rem;
    margin-top: 0.6rem;
}

.new-post-button {
    height:27px;
    width: 27px;
    margin-left:3.5rem;
}

.logout-button {
    margin-left:47rem;
    margin-top: -1.8rem;
}
