.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(249, 249, 249);
    height: 100vh;
    width: 100%;
}

.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding-top: 5%;
}

.profile-header-avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 292px;
}

.profile-header-avatar {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-header-container {
    display: flex;
    padding-top: 20px;
    width: 920px;
    margin-bottom: 20px;
    justify-content: flex-start;

}

.profile-header-avatar-image {
    border-radius: 50%;
    min-height: 150px;
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
}

.profile-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 50%;
}

.profile-info-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* justify-content: space-around; */
    width: 100%;
}

.profile-post-body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.profile-header-username {
    font-size: 28px;
    display: flex;
    /* width: 60%; */
    /* justify-content: space-between; */
    align-items: center;
}

.profile-post-image-container {
    display: grid;
    padding-top: 20px;
    grid-template-columns: 293px 293px 293px;
    /* display: flex; */
    /* width: 938px; */
    gap: 20px;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: 20px;
    margin-right: 20; */
    border-top: 1px solid rgb(209, 209, 209);
}

.profile-post-card {
    display: flex;
    justify-content: center;
    /* flex: 33%; */
    /* padding: 1rem; */
    /* margin: 20px; */
    width: 293px;
    min-width: 293px;
    height: 293px;
    overflow: hidden;
}

.profile-post-image {
    display: block;
    width: 292px;
    height: 100%;
    object-fit: cover;

}

.edit-profile-link {
    border: 1px solid #dbdbdb;
    font-size: 14px;
    font-weight: 550;
    padding: 5px 10px;
    border-radius: 3px;
}
