body {
    /* background-color: #fafafa; */
    font-family: 'Roboto', sans-serif;
}

.main-container-login {
background-color: #fafafa;
}


.splash-image{
    height: 660px;
    width: 460px;
    margin-top:-7rem;
}

.form-container {
    background-color: white;
}

.login-form-and-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 99vh;
    /* background-color: white; */
}

.signup-container {
    background-color: white;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    margin-top: 1rem;
    padding: 18px;
    display: flex;
    justify-content: center;
}

.signup-link {
    text-decoration: none;
    color: #0095f6;
    font-weight: 700;
    /* font-family: ; */
}

.title-form-signup-container {
    margin-top:-12.0rem;
}


.phone-image {
    position:absolute;
    margin-left:-19.3rem;
    width:254px;
    height:560px;
    margin-top:-5.2rem;
    animation: 5s ease-out 5s FadeIn;
    animation-iteration-count: infinite;
}

@keyframes FadeIn {
    0% {
      opacity:0;
    }
    60% {
      opacity:1;
    }
}

.landing-project-repo {
    background-color: white;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    margin-top: 1rem;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-repo-image {
    height:35px;
    width:35px;
    margin-left:1rem;
}
