body {
    /* background-color: #fafafa; */
    font-family: 'Roboto', sans-serif;
}

.main-container-login {
background-color: #fafafa;
}

.splash-image{
    height: 500px;
    width: 580px;
}

.form-container {
    background-color: white;
}

.login-form-and-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: white; */
}

.signup-container {
    background-color: white;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    margin-top: 1rem;
    padding: 14px;
    display: flex;
    justify-content: center;
}

.signup-link {
    text-decoration: none;
    color: #0095f6;
    /* font-family: ; */
}
