.post-card-image {
    max-width: 470px;
    max-height: 587.5px;
}

.post-like-button {
    width: 24px;
    height: 24px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: -8px;
}

.number-likes {
    margin-left:1rem;
    font-size: 14px;
    font-weight:bold;
}

.post-like-button:hover {
    cursor: pointer;
}
.feed-container {
    background-color: rgb(249, 249, 249);
}
.main-posts-container {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
}

.post-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
    height: 60%;
    max-width: 470px;
    max-height: 900px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 1%;
    margin-top:23px;

}
.post-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.post-card-user {
    display: block;
    font-weight: bold;
    font-size: 14px;
    padding: 1rem;
}

.post-card-description {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.post-card-description-user {
    font-weight: bold;
    margin-right: 0.5rem;
}

.post-card-comments {
    margin-left: 1rem;
    margin-right: 1rem;
}

.all-comments-button {
    background-color: white;
    color: rgb(150, 150, 150);
    border: none;
    padding: 0;
    text-align: left;
    margin-left: 1rem;
}

.all-comments-button:hover {
    cursor: pointer;
}

.post-card-submit-comment {
    border-top: 1px solid rgb(237, 237, 237);
    margin-top: 1rem;
}

.single-post-container {
    display: flex;
    flex-direction: row;
}

.single-post-left {
    background-color: black;
}

.single-post-image-container {
    margin: 5% 0;
}

.single-post-image {
    max-width: 470px;
    max-height: 587.5px;
}

.single-post-text {
    display: flex;
    flex-direction: column;
}

.single-post-header {
    font-weight: bold;
    border-bottom: 1px solid rgb(237, 237, 237);
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

.single-post-description {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.single-post-description-user {
    font-weight: bold;
    margin-right: 0.5rem;
}

.single-post-comments {
    margin-left: 1rem;
}

.single-post-footer {
    border-top: 1px solid rgb(237, 237, 237);
    position: sticky;
    display: flex;
    flex-direction: column;

}

.single-post-likes {
    padding: 1rem;
}

.profile-link {
    text-decoration: none;
    color:black
}
