.feed-page {
    background-color: #fafafa;
    height:92.15vh;
}

.post-card-image {
    max-width: 470px;
    max-height: 587.5px;
}

.no-follows-container {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .post-like-button {
    /* width: 24px;
    height: 24px; */
/* margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: -8px;
} */

.post-likes-container-main {
    display: flex;
    flex-direction: row;
}

.post-likes-container {
    width: 50px;
    padding-left: 14px;
    padding-top: 8px;
}

/* .comment-image-container {

} */

.comment-image-button {
    padding-top: 8px;
    padding-right: 2px;
    cursor: pointer;
}

.number-likes {
    margin-left: 1rem;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}

.number-likes-cursor {
    margin-left:1rem;
    font-size: 14px;
    font-weight:bold;
    margin-bottom: 0;
    cursor: pointer;
}

.post-like-button:hover {
    cursor: pointer;
}

.feed-container {
    background-color: #fafafa;
    display: flex;
    /* flex-flow: row nowrap; */
    justify-content: center;
    width: 100%;
}

.main-posts-container {
    display: flex;
    flex-direction: column;
    /* margin-left: 30%; */
    width: 100%
}

.post-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 470px;
    max-height: 900px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top: 23px;
    /* margin-left:-1.5rem; */
}

.post-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-card-user {
    display: block;
    font-weight: bold;
    font-size: 14px;
    padding: 1rem;
}

.post-card-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: .6rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.post-card-description-user {
    font-weight: bold;
    margin-right: 0.5rem;
}

.post-card-comments {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top:-0.7rem;
}

.all-comments-button {
    background-color: white;
    color: rgb(150, 150, 150);
    border: none;
    padding: 0;
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 13px;
}

.all-comments-button:hover {
    cursor: pointer;
}

.post-card-submit-comment {
    border-top: 1px solid rgb(237, 237, 237);
    margin-top: 1rem;
}

.single-post-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 140vh;
}

.single-post-left {
    background-color: black;
    width: 50%;
}


.single-post-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.single-post-image {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.single-post-right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.single-post-text {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.single-post-top-right {
    max-height: 70%;
}

.single-post-header {
    font-weight: bold;
    border-bottom: 1px solid rgb(237, 237, 237);
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

.single-post-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.single-post-description-user {
    font-weight: bold;
    margin-right: 0.5rem;
}

.single-post-comments {
    margin-left: 1rem;
    margin-right: 1rem;
}

.single-post-bottom-right {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: flex-end;
}

.single-post-footer {
    border-top: 1px solid rgb(237, 237, 237);
    position: sticky;
    display: flex;
    width: 100%;
    flex-direction: column;

}

.single-post-scroll {
    max-height: 95%;
    overflow-y: auto
}

.single-post-likes {
    padding: 1rem;
}

.profile-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.single-post-profile-image {
    height: 29px;
    width: 29px;
    border-radius: 14px;
    object-fit: cover;
    margin-right: 1rem;
}

.single-post-comment-profile-image {
    height: 29px;
    width: 29px;
    border-radius: 14px;
    object-fit: cover;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.team-members-feed {
    /* margin-right:42.5rem; */
    min-width: 320px;
    padding-left: 30px;
    margin-top: 25px;
}

.joon-feed {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.joon-pic {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.main-post-parent {
    display: flex;
}

.links-to-sites-feed {
    display: flex;
    margin-right: 3.2rem;
}

.joon-profile-feed {
    display: flex;
}

.suggested-text {
    color: #8e8e8e;
    font-weight: bold;
    margin-bottom: 1.4rem;
}

.name-text1 {
    font-size: 13px;
    font-weight: bold;
    margin-left: 0.5rem;
}

.zach-feed {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.zach-pic {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.zach-profile-feed {
    display: flex;
}

.name-text2 {
    font-size: 13px;
    font-weight: bold;
    margin-left: 0.5rem;
}

.david-feed {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.david-pic {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.david-profile-feed {
    display: flex;
}

.name-text3 {
    font-size: 13px;
    font-weight: bold;
    margin-left: 0.5rem;
}

.allan-feed {
    display: flex;
    justify-content: space-between;
}

.allan-pic {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.allan-profile-feed {
    display: flex;
}

.name-text4 {
    font-size: 13px;
    font-weight: bold;
    margin-left: 0.5rem;
}



.profile-icon-feed {
    height: 65px;
    width: 65px;
    border-radius: 32px;
    margin-bottom: -0.3rem;
    margin-top: 0.9rem;
}

.user-avatar-feed {
    display: flex;
}

.username-feed {
    font-size: 14.6px;
    margin-left: 1.2rem;
    margin-top: 2.6rem;
}

.cursor {
    cursor: default;
    padding-top: 8px;
    padding-right: 2px;

}

.post-card-avatar {
    display:flex
}

.post-card-avatar {
    margin-top:0.7rem;
    margin-left:1rem;
}

.post-card-user {
    margin-top:-0.6rem;
    margin-left:-1.4rem;
}
