#drop-zone.is-active {
    background-color: rgba(120, 140, 253, 0.1);
}

#drop-zone {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px dashed black;
    padding: 5px;
    height: 550px;
}

.image-hidden {
    display: none;
}

.errors {
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 4px;
}

.custom-file-upload {
    border: none;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    background-color: #0095f6;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    font-size: 14px;
}

.image-upload-container {
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-upload-container-secondary {
    display: flex;
    flex-direction: column;
}

.image-svg-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.image-upload-message {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

.post-form-avatar-container {
    margin-top: 6px;
}


.custom-2 {
    position: relative;
    font-size: 13px;
}

.custom-2 input {
    font-size: 12px;
}


.custom-2 .placeholder-2 {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    /* color: #a9a9a9; */
    color: rgb(168, 165, 165);
    transition:
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
}

.custom-2 input:valid+.placeholder-2,
.custom-2 input:focus+.placeholder-2 {
    top: 10px;
    font-size: 10px;
    color: #222
}
