.user-avatar-button{
    height:29px;
    width: 29px;
    border-radius:14px;
    margin-top:-0.1rem;
    position:relative
}

.user-avatar {
    height:29px;
    width:29px;
    border-radius: 14px;
    margin-left:-0.5rem;
    margin-top:-0.2rem;
    position:relative;
}


.user-avatar:hover {
    cursor: pointer;
}

.profile-dropdown {
    list-style: none;
    padding: 0;
}

.dropdown-menu {
    width:220px;
    height: 130px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 5px;
    background-color: white;
    margin-top: 0.5rem;
    margin-left:-10rem;
}

.profile-icon {
    width:15px;
    height:15px;
    margin-left: -1.4rem;
}

.text-to-profile{
    font-size:14px;
    color: black;
    margin-top:-1.2rem;
    margin-bottom:1rem;

}

.link-to-profile {
    text-decoration: none;
}

.dropdown-menu {
    position: absolute;
}

.settings-icon {
    width:15px;
    height:15px;
    margin-left: -1.4rem;
}

.text-to-user-settings {
    font-size:14px;
    color: black;
    margin-top:-1.2rem;
    margin-bottom:1rem;
}

.log-out-icon {
    width:15px;
    height:15px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.text-to-logout {
    font-size:14px;
    margin-top:-1.25rem;
    margin-left: 2.4rem;
    cursor: pointer;
}

.logout-container {
    border-top: 1px solid #dbdbdb;
}

.dropdown-1 {
    margin-left: 2.4rem;
}

.dropdown-2 {
    margin-left: 2.4rem;
}
