.user-avatar-button{
    height:29px;
    width: 29px;
    border-radius:14px;
    margin-top:-0.3rem;
    position:relative
}

.user-avatar {
    height:29px;
    width:29px;
    border-radius: 14px;
    margin-left:-0.5rem;
    margin-top:-0.2rem;
    position:relative;
}

.user-avatar:hover {
    cursor: pointer;
}

.profile-dropdown {
    list-style: none;
}

.dropdown-menu {
    width:120px;
    height:80px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 5px;
    background-color: white;
    margin-top: 0.5rem;
    margin-left:-5rem;
}

.profile-icon {
    width:15px;
    height:15px;
    margin-left: -1.4rem;
}

.text-to-profile{
    font-size:13px;
    color: black;
    margin-top:-1.2rem;
    margin-bottom:1rem;

}

.link-to-profile {
    text-decoration: none;
}

.dropdown-menu {
    position: absolute;
}

.log-out-icon {
    width:15px;
    height:15px;
    margin-left: -1.5rem;
}

.text-to-logout {
    font-size:13px;
    margin-top:-1.25rem;
}
