.signup-page-main {
    height: 98vh;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form-container {
    border: 1px solid #dbdbdb;
    background-color: white;
    height: 500px;
    padding: 16px;
    margin-top:2rem;
    /* display: flex;
    flex-direction: column; */
}

.signup-logo-container {
    padding: 20px 0 5px 0;
}

.signup-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-message {
    width: 75%;
    color: #8e8e8e;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.signup-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.back-to-login-container {
    background-color: white;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 1rem;
    border: 1px solid #dbdbdb;
    width: 420px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signup-errors {
    color: red;
    margin-top: 40px;
}

.signup-footer {
    margin-top:14.5rem;
}
